body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bi.bi-diagram {
    box-sizing: none !important;
    width: none !important;
    height: none !important;
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
    min-height: none !important;
    background-color: none !important;
    position: none !important;
    overflow: none !important;
    background-color: none !important;
}
